@{
    ViewData["Title"] = "Home Page";
    ViewData["Image"] = "";
    ViewData["Title"] = "Home Page";
}

<div class="position-absolute top-50 start-50 translate-middle">
    
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Pierdut</h5>
    <img src="..." class="card-img-top" alt="...">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Descriere animal</li>
    <li class="list-group-item">Locatia aprox</li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-dark">Contacteaza</button>
  </div>
</div>
</div>
