@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body style="color: steelblue;">
<form class="position-absolute bottom-50 end-50">
  <label for="AutentificationUser" class="form-label">Username</label>
  <input type="text" class="form-control" id="AutentificationUser" placeholder="Enter Username">
  <label for="AutentificationPassword" class="form-label">Password</label>
  <input type="password" class="form-control" id="AutentificationPassword" placeholder="Enter Password">
  <br/>
<button type="button" class="btn btn-primary btn-info">LOGIN</button>
</form>
</body>
